<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:10px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="10">
        <ion-text class="ctitle">STRUCTURAL WARRANTIES</ion-text>
      </ion-col>

      <!-- <ion-col size="0">
      </ion-col> -->
    </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img src="assets/imgs/bg.png" height="300">

  <div class="wrapper">

    <p>Surrety Bonds and Guarantees are able to offer 10 year
      Strutural Warranties and Building Control via CML (Council of Mortgage Lenders) approved providers.
    </p>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
    </div>

  </div>



</ion-content>