
.ctitle{
	// text-align: center;
  font-size: 20px;
  color: #4C5359;
  font-weight: bold;
  font-family: Cinzel, serif !important;
}
.titleclass{
	text-align: center;
  padding-top: 7px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 8px;
	}
}
.main{
   
    text-align: center;
}
.innermain{
  
 
    width: 90%;
    margin: 0% auto;
 
}

.para{
   
    color: #4C5359;
    font-size: 16px;
}
.btndiv{
    text-align: center;
    margin-bottom: 5%;
  }
.btn {
    --background: #4C5359;
    --box-shadow: none;
    font-family: Cinzel, serif !important;
    color: #fff;
    font-size: 20px;
    --border-radius: 30px;
    font-weight:bold;
    height: 42px;
    width: 206px;
    text-transform: uppercase;
  }
  .btn1{
    --background: #4C5359;
    --box-shadow: none;
    font-family: Cinzel, serif !important;
    color: #fff;
    font-size: 20px;
    --border-radius: 30px;
    font-weight:bold;
    height: 42px;
    text-transform: uppercase;
  }
