<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">
    <!-- <ion-row>
      <ion-col style="padding-left:5%;padding-top: 4%" size="2">
        <ion-menu-toggle>
          <ion-buttons >
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="5" style="padding-top: 4%">
      </ion-col>

      <ion-col size="5" class="endbtn" (click)="open()">
        <ion-button class="btn">Get a Quote</ion-button>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col style="padding-top:10px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">About</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <img src="assets/imgs/bg.png">

  <div class="main">
    <div class="innermain">

      <p class="para">Surety Bonds &amp;&nbsp;Guarantees are a specialist team with advanced knowledge and expertise
        of&nbsp;the complex surety market and have&nbsp;access to the widest&nbsp;reach.....
      </p>
      <div class="btndiv">
        <ion-button class="btn" (click)="goto()">More Info</ion-button>
      </div>
      <div class="btndiv">
        <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
      </div>

    </div>

  </div>

</ion-content>