<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:7px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">INSURANCE BACKED GUARANTEES</ion-text>
      </ion-col>

      <ion-col size="2">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="wrapper">
    <h2>What is an Insurance Backed Guarantee?</h2>
    <p style="text-align: left;font-size: 1em;color: #4d545a">An Insurance Backed Guarantee or 'IBG'
      is an Insurance Policy that will honour the terms of the original contractors warranty for both
      Workmanship and Products should they cease trading. Most commonly the guarantee is for a period of
      10 years.
      &nbsp;
    </p>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
    </div>



  </div>
  <!-- <iframe src="https://share.hsforms.com/15WbXcgaVQcyvSmlUG2EweQ5n81m" style="width:100%; height:100%;" frameborder="0"
    marginheight="0px" allowfullscreen scrolling="hidden"></iframe> -->
</ion-content>