<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:10px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="9">
        <ion-text class="ctitle">ARCHITECTS CERTIFICATE</ion-text>
      </ion-col>

      <ion-col size="1">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <p>A Professional Consultants Certificate (PCC) also known as an Architects Certificate can be issued by a Chartered
      Architect or Surveyor on a 'new build' or renovated building that will guarantee the Structural Integrity of the
      property usually for a period of 6 years. A Professional Consultants Certificate is a cost effective....
    </p>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
    </div>
  </div>
</ion-content>