<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:10px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="10">
        <ion-text class="ctitle">DUTY DEFERMENT BONDS</ion-text>
      </ion-col>

      <!-- <ion-col size="0">
      </ion-col> -->
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="wrapper">
    <h2>How Do Duty Deferment Bonds Work?</h2>
    <p>A duty deferment or custom bond gives
      companies that import goods from outside the UK the flexibility to ease cash flow by deferring
      payment for a given period...
    </p>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
    </div>
  </div>
</ion-content>