<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:7px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">SECTION BONDS</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="wrapper">

    <h2>Road and sewer bonds from the leading experts</h2>
    <h2>Most common section bonds,</h2>
    <ul>
      <li>
        <h3><strong>Section 38 Agreement Bond (Highways Act 1980)</strong></h3>
      </li>
      <li>
        <h3><strong>Section 278 Agreement Bond (Highways Act 1980)</strong></h3>
      </li>
    </ul>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)=" openform()">Start Your Quote</ion-button>
    </div>

  </div>
</ion-content>