// .ios {
//   .titleclass {
//     padding-left: 10% !important;
//   }

//   .endbtn {
//     padding-left: 10% !important;
//   }
// }
.ctitle{
	// text-align: center;
  font-size: 29px;
  color: #4C5359;
  font-weight: bold;
  font-family: Cinzel, serif !important;
}
.titleclass{
	text-align: center;
  padding-top: 7px;
}
.ios{
	.titleclass{
		text-align: center; padding-top: 8px;
	}
}
.endbtn {
  padding-top: 2%
}

.btn1 {
  --background: #E6E8EA;
  --color: #13395C !important;
  --border-radius: 50px;
}

.slides {

  width: 100%;
}

.wrapper {
  width: 88%;
  margin: 5% auto;
}

.cimg {
  // border-radius: 20px;
  width: 100%;
}


.para {
  color: #4C5359;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  font-family: Cinzel, serif !important;
  width: 80%;
  margin: 0% auto;
}


.btndiv{
  text-align: center;
  margin-bottom: 5%;
}
.btn {
  --background: #4C5359;
  --box-shadow: none;
  font-family: Cinzel, serif !important;
  color: #fff;
  font-size: 20px;
  --border-radius: 30px;
  font-weight:bold;
  height: 42px;
  width: 206px;
  text-transform: uppercase;
}
.btn1{
  --background: #4C5359;
  --box-shadow: none;
  font-family: Cinzel, serif !important;
  color: #fff;
  font-size: 20px;
  --border-radius: 30px;
  font-weight:bold;
  height: 42px;
  text-transform: uppercase;
}


@media (max-width:360px) {

}
