<ion-header [translucent]="true" class="ion-no-border cheader">
  <ion-toolbar class="headBgGlobal">

    <ion-row>
      <ion-col style="padding-top:7px;padding-left: 20px;" size="2">
        <ion-menu-toggle>
          <ion-buttons>
            <img src="assets/imgs/menubtn.svg" style="width: 24px;
              height: 24px;margin-top: 3px;">
          </ion-buttons>
        </ion-menu-toggle>
      </ion-col>

      <ion-col class="titleclass" size="8">
        <ion-text class="ctitle">RENT BOND</ion-text>
      </ion-col>

      <ion-col size="2" style="padding-top:8px;padding-left:20px;">
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div class="wrapper">
    <h2>What Is a Rent Bond?</h2>
    <p style="text-align: left;font-size: 1em;color: #4d545a">Rent Guarantee schemes or Rent Bonds can
      be issued to landlords instead of a Cash Deposit. Often these are arranged for Social Housing or
      Commercial Landlords...
      &nbsp;
    </p>

    <div class="btndiv">
      <ion-button class="btn" (click)="goto()">More Info</ion-button>
    </div>
    <div class="btndiv">
      <ion-button class="btn1" (click)="openform()">Start Your Quote</ion-button>
    </div>
  </div>
</ion-content>